NodeRedFlow.txt
[{"id":"892e5891.9cf218","type":"tab","label":"exec rfm69py","disabled":false,"info":""},{"id":"934325a8.8ef638","type":"exec","z":"892e5891.9cf218","command":"python /home/pi/rfm69py/example.py","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":550,"y":140,"wires":[["3b7b90c8.9ecf8"],[],[]]},{"id":"7ae8b93e.96ab38","type":"debug","z":"892e5891.9cf218","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":120,"wires":[]},{"id":"c2e1ee0e.310b3","type":"function","z":"892e5891.9cf218","name":"start","func":"msg.payload=\"\";\nmsg.start=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":100,"wires":[["934325a8.8ef638"]]},{"id":"98accca5.89f6f","type":"function","z":"892e5891.9cf218","name":"SIGINT","func":"delete msg.payload;\nmsg.kill=\"SIGINT\";\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":180,"wires":[["934325a8.8ef638"]]},{"id":"d0311404.45c568","type":"inject","z":"892e5891.9cf218","name":"stop","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":90,"y":180,"wires":[["98accca5.89f6f"]]},{"id":"dc376fb6.603e7","type":"inject","z":"892e5891.9cf218","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":100,"wires":[["c2e1ee0e.310b3"]]},{"id":"3b7b90c8.9ecf8","type":"function","z":"892e5891.9cf218","name":"direct mapping","func":"var values = msg.payload.split(\",\");\nvar outp = [];\noutp[0] = {payload:values[0]};\noutp[1] = {payload:values[1]};\noutp[2] = {payload:values[2]};\noutp[3] = {payload:values[3]};\noutp[4] = {payload:values[4]};\noutp[5] = {payload:values[5]};\nreturn [outp[0],outp[1],outp[2],outp[3],outp[4],outp[5]];","outputs":6,"noerr":0,"x":820,"y":220,"wires":[["454a6e90.76d5b"],["34f533b8.74bf8c"],["890b7c4d.3c31a"],["291074c3.b0c1fc"],["1a8fa3c4.e9e06c"],["518a9994.ff1468"]]},{"id":"454a6e90.76d5b","type":"debug","z":"892e5891.9cf218","name":"ID","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1010,"y":120,"wires":[]},{"id":"34f533b8.74bf8c","type":"debug","z":"892e5891.9cf218","name":"time online","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1030,"y":160,"wires":[]},{"id":"b040ed25.19389","type":"debug","z":"892e5891.9cf218","name":"Temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1210,"y":200,"wires":[]},{"id":"8c936d29.8517a","type":"debug","z":"892e5891.9cf218","name":"Humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1220,"y":240,"wires":[]},{"id":"1a8fa3c4.e9e06c","type":"debug","z":"892e5891.9cf218","name":"Identity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1020,"y":280,"wires":[]},{"id":"518a9994.ff1468","type":"debug","z":"892e5891.9cf218","name":"RSSI","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1010,"y":320,"wires":[]},{"id":"890b7c4d.3c31a","type":"function","z":"892e5891.9cf218","name":"to Num/10","func":"msg.payload = Number(msg.payload);\nmsg.payload = (msg.payload)/10;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":200,"wires":[["b040ed25.19389"]]},{"id":"291074c3.b0c1fc","type":"function","z":"892e5891.9cf218","name":"to Num/10","func":"msg.payload = Number(msg.payload);\nmsg.payload = (msg.payload)/10;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":240,"wires":[["8c936d29.8517a"]]}]