NodeRedFlow.txt
[{"id":"892e5891.9cf218","type":"tab","label":"exec rfm69py","disabled":false,"info":""},{"id":"934325a8.8ef638","type":"exec","z":"892e5891.9cf218","command":"python /home/pi/rfm69py/rfm69py/example.py","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":580,"y":140,"wires":[["3b7b90c8.9ecf8"],[],[]]},{"id":"7ae8b93e.96ab38","type":"debug","z":"892e5891.9cf218","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":500,"wires":[]},{"id":"c2e1ee0e.310b3","type":"function","z":"892e5891.9cf218","name":"start","func":"msg.payload=\"\";\nmsg.start=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":100,"wires":[["934325a8.8ef638"]]},{"id":"98accca5.89f6f","type":"function","z":"892e5891.9cf218","name":"SIGINT","func":"delete msg.payload;\nmsg.kill=\"SIGINT\";\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":180,"wires":[["934325a8.8ef638"]]},{"id":"d0311404.45c568","type":"inject","z":"892e5891.9cf218","name":"stop","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":90,"y":180,"wires":[["98accca5.89f6f"]]},{"id":"dc376fb6.603e7","type":"inject","z":"892e5891.9cf218","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":100,"wires":[["c2e1ee0e.310b3"]]},{"id":"3b7b90c8.9ecf8","type":"function","z":"892e5891.9cf218","name":"direct mapping","func":"var values = msg.payload.split(\",\");\nvar outp = [];\noutp[0] = {payload:values[0]};\noutp[1] = {payload:values[1]};\noutp[2] = {payload:values[2]};\noutp[3] = {payload:values[3]};\noutp[4] = {payload:values[4]};\noutp[5] = {payload:values[5]};\noutp[6] = {payload:values[6]};\noutp[7] = {payload:values[7]};\nreturn [outp[0],outp[1],outp[2],outp[3],outp[4],outp[5],outp[6],outp[7]];","outputs":8,"noerr":0,"x":820,"y":220,"wires":[["454a6e90.76d5b"],["34f533b8.74bf8c"],["890b7c4d.3c31a"],["291074c3.b0c1fc"],["4a48faf.8692c04"],["b1d7a216.38afa"],["1a8fa3c4.e9e06c"],["518a9994.ff1468"]]},{"id":"454a6e90.76d5b","type":"debug","z":"892e5891.9cf218","name":"Time online num","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1050,"y":120,"wires":[]},{"id":"34f533b8.74bf8c","type":"debug","z":"892e5891.9cf218","name":"Time online unit","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1040,"y":160,"wires":[]},{"id":"b040ed25.19389","type":"debug","z":"892e5891.9cf218","name":"Battery Level","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1230,"y":200,"wires":[]},{"id":"8c936d29.8517a","type":"debug","z":"892e5891.9cf218","name":"Temperature","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1230,"y":240,"wires":[]},{"id":"1a8fa3c4.e9e06c","type":"debug","z":"892e5891.9cf218","name":"Identity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1020,"y":380,"wires":[]},{"id":"518a9994.ff1468","type":"debug","z":"892e5891.9cf218","name":"RSSI","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1010,"y":420,"wires":[]},{"id":"890b7c4d.3c31a","type":"function","z":"892e5891.9cf218","name":"to Num/10","func":"msg.payload = Number(msg.payload);\nmsg.payload = (msg.payload)/10;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":200,"wires":[["b040ed25.19389"]]},{"id":"291074c3.b0c1fc","type":"function","z":"892e5891.9cf218","name":"to Num/10","func":"msg.payload = Number(msg.payload);\nmsg.payload = (msg.payload)/10;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":240,"wires":[["8c936d29.8517a"]]},{"id":"1a98eecd.f9a411","type":"debug","z":"892e5891.9cf218","name":"Humidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1220,"y":280,"wires":[]},{"id":"4a48faf.8692c04","type":"function","z":"892e5891.9cf218","name":"to Num/10","func":"msg.payload = Number(msg.payload);\nmsg.payload = (msg.payload)/10;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":280,"wires":[["1a98eecd.f9a411"]]},{"id":"6e392faf.6566e","type":"debug","z":"892e5891.9cf218","name":"soil Moisture","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1230,"y":320,"wires":[]},{"id":"b1d7a216.38afa","type":"function","z":"892e5891.9cf218","name":"to Num/10","func":"msg.payload = Number(msg.payload);\nmsg.payload = (msg.payload)/10;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":320,"wires":[["6e392faf.6566e","2b2fdb10.1f19a4"]]},{"id":"2b2fdb10.1f19a4","type":"mqtt out","z":"892e5891.9cf218","name":"","topic":"buciodeculo","qos":"0","retain":"","broker":"8279249c.10ec98","x":1330,"y":420,"wires":[]},{"id":"eacdc1e3.1f2ab","type":"mqtt in","z":"892e5891.9cf218","name":"","topic":"buciodeculo","qos":"2","broker":"8279249c.10ec98","x":620,"y":520,"wires":[["7ae8b93e.96ab38"]]},{"id":"8279249c.10ec98","type":"mqtt-broker","z":"","name":"","broker":"85.119.83.194","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]